<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Covid Survival Prediction</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>

<div class="container">
    <h1>Covid Survival Prediction</h1>
    <p class="instructions">Please fill out the following fields to predict the patient's survival :</p>
    <form action="/predict" method="post">
        <label for="USMER">USMER:</label>
        <input type="text" id="USMER" name="USMER" required>

        <label for="MEDICAL_UNIT">Medical Unit:</label>
        <input type="text" id="MEDICAL_UNIT" name="MEDICAL_UNIT" required>

        <label for="SEX">Sex:</label>
        <input type="text" id="SEX" name="SEX" required>

        <label for="PATIENT_TYPE">Patient Type:</label>
        <input type="text" id="PATIENT_TYPE" name="PATIENT_TYPE" required>

        <label for="PNEUMONIA">Pneumonia:</label>
        <input type="text" id="PNEUMONIA" name="PNEUMONIA" required>

        <label for="AGE">Age:</label>
        <input type="number" id="AGE" name="AGE" required>

        <label for="PREGNANT">Pregnant:</label>
        <input type="text" id="PREGNANT" name="PREGNANT" required>

        <label for="DIABETES">Diabetes:</label>
        <input type="text" id="DIABETES" name="DIABETES" required>

        <label for="COPD">COPD:</label>
        <input type="text" id="COPD" name="COPD" required>

        <label for="ASTHMA">Asthma:</label>
        <input type="text" id="ASTHMA" name="ASTHMA" required>

        <label for="INMSUPR">Immunosuppressed:</label>
        <input type="text" id="INMSUPR" name="INMSUPR" required>

        <label for="HIPERTENSION">Hypertension:</label>
        <input type="text" id="HIPERTENSION" name="HIPERTENSION" required>

        <label for="OTHER_DISEASE">Other Disease:</label>
        <input type="text" id="OTHER_DISEASE" name="OTHER_DISEASE" required>

        <label for="CARDIOVASCULAR">Cardiovascular:</label>
        <input type="text" id="CARDIOVASCULAR" name="CARDIOVASCULAR" required>

        <label for="OBESITY">Obesity:</label>
        <input type="text" id="OBESITY" name="OBESITY" required>

        <label for="RENAL_CHRONIC">Renal Chronic:</label>
        <input type="text" id="RENAL_CHRONIC" name="RENAL_CHRONIC" required>

        <label for="TOBACCO">Tobacco:</label>
        <input type="text" id="TOBACCO" name="TOBACCO" required>

        <label for="CLASIFFICATION_FINAL">Classification Final:</label>
        <input type="text" id="CLASIFFICATION_FINAL" name="CLASIFFICATION_FINAL" required>

        <input type="submit" value="Predict">
    </form>
</div>

</body>
</html>







